<%- include('partials/head.ejs') %>
<body>
   <div class="container">
       <br>
       <div class="title text-center">
           <h1>BRNFLIX</h1>
       </div>
        <div class="form">
            <div class="form-config">
                <form action="" method="post">
                    <label for="">Digite seu E-mail</label>
                    <div><input type="email" class="btn btn-ligth" name="" id="" placeholder="Digite seu E-Mail"> </div><br>
                    <label for="">Digite sua senha</label>
                    <div><input type="password"  class="btn btn-ligth" name="" id="" placeholder="Digite sua senha"></div>
                    <p class="esqueceu"><a href="">Esqueceu a senha?</a></p>
                    <p class="cadastrese"><a href="">Criar Cadastro!</a></p>
                    <div><input type="submit" class="btn btn-success" value="Logar"></div>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer.ejs') %>